<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit</title>
    <style>
        span{
            background-color: cornflowerblue;
            color:aliceblue;
        }
    </style>
</head>
<body>
    <form method="post" action="chats/:id">
        <p>message sent from <span><%= chat.from %></span> to <span><%= chat.to %></span></p>
        <textarea name="message" id="message"><%= chat.message %></textarea>
        <button type="submit">submit</button>
    </form>
</body>
</html>