<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chat</title>
</head>
<body>
    <form action="/chats/upload" method="post">
        <div>
            <label for="sender">Sender </label>
            <input type="text" id = "sender" name = "sender" placeholder="who is sending ?">
        </div>
        <br>
        <div>
            <label for="message">Message</label>
            <textarea id = "message" name = "message" rows = '5' cols ='25' placeholder="write message here..."></textarea>
        </div>
        <br>
        <div>
            <label for="reciever">Reciever</label>
            <input type="text" id = "reciever" name = "reciever" placeholder="to whom ?">
        </div>
        <br>
        <button type="submit">Submit</button>
    </form>
</body>
</html>